.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  height: 293px;
  padding: 0 50px;
  font-size: 18px;
}

.header__logo-link {
}

.header__logo {
  display: flex;
  width: 130px;
  height: 105px;
}
.header__menu-list {
  display: flex;
  flex-direction: row;
  gap: 33px;
  height: 22px;
  list-style: circle;
}

.menu-item-active {
  list-style: none;
}

.address {
  font-style: normal;
}

.address__list {
  width: 240px;
  justify-self: end;
  list-style: none;
  white-space: wrap;
}

.cover {
  height: 757px;
  padding: 165px 50px 50px;
}

.lots {
  margin: 180px 24px 120px;
}

.about {
  margin: 0 24px 180px;
  padding: 35px 0 13px 47px;
}

.footer {
  height: 180px;
}