body {
  width: 1100px;
  margin: 0;
  font-family: Raleway, sans-serif;  
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  text-transform: none;
}

.header {
  display: grid;
  grid-template-columns: 1fr 10% 1fr;
  align-items: center;
  height: 293px;
  padding: 0 50px;
  font-size: 18px;
}

.header-menu {
  display: inline;
}

.header-menu-item {
  color: black;
  list-style: circle;
}

.menu-item-active {
  list-style: none;
}

.adress-header {
  justify-self: end;
  width: 240px;
  list-style: none;
  white-space: inherit;
}

.contacts {
  text-decoration: underline;
}

.main {

}

.cover {
  display: block;
  height: 757px;
  margin: 0 0 180px;
  background-color: rgb(0 0 0/60%);
  background-repeat: no-repeat;
  background-size: cover;
}

.cover-title {
  font-weight: bold;
  font-size: 100px;
}

.description {
  display: inline-block;
}

.cover-title,
.description,
.button {
  color: white;
  text-transform: uppercase;
}

.background-image {
  position: absolute;
  z-index: -1;
}

.button {
  border: 1px solid white;
  background-color: rgb(0 0 0/0);
}

.lots {
}

.title {
  font-weight: bold;
  font-size: 40px;
}

.article {
  height: 334px;
  color: white;
  background-color: rgb(0 0 0/60%);
}

.article-title {
  font-weight: bold;
  text-decoration: underline;
}

.logo-white {
  border-radius: 50%;
  background-color: black;
  background-size: 240px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  align-items: start;
  height: 180px;
  padding: 0 50px;
}

.address-footer {
  width: 265px;
  list-style: none;
  white-space: inherit;
}